$pink: rgb(195, 135, 175)

body 
  background: rgba($pink, .3)
  background-repeat: no-repeat 
  background-size: cover

.sc-embed
  width: 50%
  margin: 20px auto
  display: block

.landing-page
  h1  
    text-align: center 
    font-family: avenir, sans-serif
    font-weight: 300
    letter-spacing: .05em

.box 
  width: 40px 
  height: 40px 
  background: white 
  display: block