@import meyers_reset
@import bootstrap
@import partials/typography

#map 
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

body 
  background: image-url("body-bg.png")
  background-repeat: no-repeat 
  background-size: cover

.sc-embed
  width: 50%
  margin: 20px auto
  display: block

.landing-page
  h1  
    text-align: center 